Source: optimizer-cdg
Section: iljit-optimizer
Priority: extra
Maintainer: Leonardo Mino' <oaexpert@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libiljitu-dev, libxan-dev, libcompilermemorymanager-dev, libiljitiroptimizer-dev, libglib2.0-0, libgl1-mesa-glx, mime-support, locales, libc6-i686, libasound2, pkg-config, libpcre3, gawk, libiljitir-dev
Standards-Version: 3.8.3
Homepage: http://ildjit.sourceforge.net

Package: iljit-optimizer-cdg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, iljit-optimizer-postdominator
Description: optimizer-cdg
 optimizer-cdg - Compute the Control dependences graph
