Source: optimizer-copypropagation
Section: iljit-optimizer
Priority: extra
Maintainer: Leonardo Mino' <oaexpert@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libiljitu-dev, libxan-dev, libcompilermemorymanager-dev, libiljitiroptimizer-dev, libglib2.0-0, libgl1-mesa-glx, mime-support, locales, libc6-i686, libasound2, pkg-config, libpcre3, gawk, libiljitir-dev
Standards-Version: 3.8.3
Homepage: http://ildjit.sourceforge.net

Package: iljit-optimizer-copypropagation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, iljit-optimizer-reachingdefinitions, iljit-optimizer-liveness, iljit-optimizer-escapes, iljit-optimizer-basicblockidentifier
Description: optimizer-copypropagation
 This is the reaching definitions plugins for
 the optimizer server of the ILDJIT project
