Source: libdla
Priority: extra
Maintainer: Leonardo Mino' <oaexpert@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libiljitu-dev, libxan-dev, libirvirtualmachine-dev, libiljitiroptimizer-dev, libglib2.0-0, libgl1-mesa-glx, mime-support, locales, libc6-i686, libasound2, pkg-config, libclimanager-dev, libpcre3, gawk, libiljitir-dev
Standards-Version: 3.8.3
Section: libs
Homepage: http://ildjit.sourceforge.net

Package: libdla-dev
Section: libdevel
Architecture: any
Depends: libdla (= ${binary:Version})
Description: Libdla
 This is an implementation of the Dynamic Look Ahead
 (DLA) compiler within the ILDJIT project.

Package: libdla
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libdla
 This is an implementation of the Dynamic Look Ahead
 (DLA) compiler within the ILDJIT project.
